# Python
__pycache__/
*.pyc
.venv/

# Data
/data/*.csv
!data/*.csv

# Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/

# VSCode
.vscode/

# macOS system
.DS_Store

# Forecast-produced tables
linear_forecasted_data.csv
time_series_forecasted_data.csv